@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);

@import url('https://fonts.googleapis.com/css?family=Lora');


/* ==========================================================================
Typography
========================================================================== */

body {
	font-family: 'Lora', 'cwTeXMing', serif !important;
	background: #FFF;
	color: #000;
	font-size: 16px;
	overflow-x: hidden;
	display: none;
}

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

ul {
	list-style: none;
}

a {
	transition: all 0.4s ease-in-out;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	opacity: .5;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
}

a:focus {
	opacity: 1;
}

.main {
	min-height: calc(100% - 260px);
}

#index #nav-menu {
	display: none;
}

/*index*/

section {
	padding: 30px;
}

#section-index {
	background: #fff;
	width: 100vw;
	height: 100vh;
	transition: all 0.1s linear;
    overflow: hidden;
}

.index_bg {
	display: block;
	width: 100%;
	height: 100%;
}

.index_bg_inner {
	background: url(../image/bg_index.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 100%;
}

.index_container {
	position: absolute;
	padding: 30px;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.logo {
	width: 35vh;
	height: auto;
	margin: 30vh auto 0;
}

.logo-ink {
	width: 30px;
	height: auto;
	margin: 20px auto 0;
}

.logo-ink.animated {    
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

/*section*/

.title {
	width: 280px;
	height: 82px;
	margin: 0 auto
}

#index .main {
	background-image: url(../image/bg_index_1.png), url(../image/bg_index_2.png), url(../image/bg_index_3.png), url(../image/bg_index_4.png), url(../image/bg_index_5.png), url(../image/bg_index_6.png);
	background-repeat: no-repeat;
	background-size: 120% auto, 120% auto, 120% auto, 120% auto, 120% auto, 100% auto;
	-webkit-animation: index_bg 15s linear infinite;
	-moz-animation: index_bg 15s linear infinite;
	-o-animation: index_bg 15s linear infinite;
	animation: index_bg 15s linear infinite;
}

@keyframes index_bg {
	0%, 100% {
		background-position: 50% bottom, 60% bottom, 20% bottom, 50% bottom, 40% bottom, right bottom;
	}
	50% {
		background-position: 90% bottom, 30% bottom ,40% bottom, 100% bottom, 0 bottom ,right bottom;
	}
}


#section-about {
	min-height: 320px;
	padding-bottom: 60px;
	text-align: center;
	background-size: 60% auto;
	outline: none;
	max-width: 1200px;
	margin: 0 auto;
}

#section-about a {
	display: block;
	margin-top: 40px;
	color: #000;
}

#section-about .bg {
	position: absolute;
	background: url(../image/bg_index_about.png) no-repeat 50% 0;
	width: 1200px;
	background-size: 80% auto;
	z-index: -999;
	height: 400px;
	margin: -90px auto;
	left: 50%;
	margin-left: -600px;
}

#section-works {
	padding-bottom: 60px;
}

#section-works .carousel {
	outline: none;
	padding-top: 0;
	margin-top: 50px;
}

#section-works .carousel-inner {
	max-width: 800px;
	margin: 0 auto;
}

#section-works .carousel-inner .item-block,
#page-project .item-block {
	width: 100%;
	display: inline-block;
	height: 240px;
	background-color: #8B7151;
	overflow: hidden;
	color: #FFFDE6;
	text-align: center;
	margin: 0 2px 30px;
}

#section-works .carousel-inner .item-block:hover,
#page-project .item-block:hover {
	opacity: 1;
}

#section-works .carousel-inner .item-block .image,
#page-project .item-block .image {
	height: 175px;
	position: relative;
	overflow-y: hidden;
}

#section-works .carousel-inner .item-block .hover-text,
#page-project .item-block .hover-text {
	position: absolute;
	display: block;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(139,113,81,.7);
	text-align: center;
	padding: 30px;
	letter-spacing: 3px;
	transition: all 0.6s ease-in-out;
}

#section-works .carousel-inner .item-block:hover .hover-text,
#page-project .item-block:hover .hover-text {
	opacity: 1;
	transition: all 0.6s ease-in-out;
}

#section-works .carousel-inner .item-block .hover-text h3,
#page-project .item-block .hover-text h3 {
	margin: 0 0 15px;
}

#section-works .carousel-inner .item-block .hover-text .line,
#page-project .item-block .hover-text .line {
	display: block;
	margin: 10px auto;
	background-color: #FFFDE6;
	width: 1px;
	height: 20px;
}

#section-works .carousel-inner .item-block .text,
#page-project .item-block .text {
	padding: 10px;
	height: 60px;
}

#section-works .carousel-inner .item-block .text p,
#page-project .item-block .text p {
	margin: 0;
	line-height: 22px;
	font-weight: 100;
}

#section-works .item-block .hover-text .text,
#page-project .item-block .hover-text .text {
	margin-top: -60px !important;
	transition: all 0.6s ease-in-out;
}

#section-works .item-block:hover .hover-text .text,
#page-project .item-block:hover .hover-text .text {
	margin-top: -15px !important;
	transition: all 0.6s ease-in-out;
}

#section-works .carousel-inner .image img,
#page-project .image img {
	width: auto;
	border: none;
	border-radius: 0;
	margin: 0 auto;
	padding: 0;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

#section-works .glyphicon-chevron-right:before {
	width: 30px;
	height: 30px;
	display: block;
	content: "";
	background: url(../image/btn_next_brw.png) no-repeat 50% 50%;
	background-size: 30px auto;
}

#section-works .glyphicon-chevron-left:before {
	width: 30px;
	height: 30px;
	display: block;
	content: "";
	background: url(../image/btn_prev_brw.png) no-repeat 50% 50%;
	background-size: 30px auto;
}

#section-news {
	padding-bottom: 300px;
}


#section-news ul {
	margin: 20px auto;
	max-width: 600px;
	-webkit-padding-start: 0;
}

#section-news ul li {
	border-bottom: 1px solid #bbbbbb;
	padding: 10px;
	letter-spacing: 2.5px;

}

#section-news ul li .date {
	display: inline-block;
	margin: 0;
	line-height: 32px;
}

#section-news ul li .news-title {
	display: inline-block;
	color: #000;
	line-height: 32px;
	padding: 0 20px;
	width: 65%;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	vertical-align: middle;
	margin-top: -4px;
}

#section-news ul li .btn-more {
	float: right;
	width: 32px;
	height: 32px;
}


.modal .btn-close {
	position: absolute;
	background: #FFCDC4 url(../image/btn_close.png) no-repeat ;
	background-size: 20px 20px;
	width: 80px;
	height: 50px;
	border-radius: 50px;
	margin-left: -80px;
	z-index: -1;
	opacity: 1;
	cursor: pointer;
	outline: none;
}

/*about*/

#about .main {
	background-image: url(../image/bg_about_1.png),url(../image/bg_about_2.png),url(../image/bg_about_3.png);
	background-repeat: no-repeat;
	background-size: 120% auto;
	-webkit-animation: about_bg 10s linear infinite;
	-moz-animation: about_bg 10s linear infinite;
	-o-animation: about_bg 10s linear infinite;
	animation: about_bg 10s linear infinite;
}

@keyframes about_bg {
	0%, 100% {
		background-position: 40% bottom, 60% bottom, 10% bottom;
	}
	50% {
		background-position: 90% bottom, 20% bottom ,40% bottom;
	}
}

#page-about {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 60px;
	text-align: center;
}

#page-about p {
	margin: 0 auto;
	line-height: 52px;
	width: 100%;
	max-width: 600px;
	text-align: center;
	word-break: break-all;
}

#page-about .content {	
	display: block;
	min-height: 300px;
	margin-top: 50px;
	background: url(../image/bg_index_about.png) no-repeat 50% 10%;
	background-size: 80% auto;
}


/*construction*/

#page-construction {
	min-height: 280px;
	padding-bottom: 60px;
	text-align: center;
	background-image: url(../image/bg_construction.png);
	background-repeat: no-repeat;
	background-size: 120% auto;
	-webkit-animation: construction_bg 10s linear infinite;
	-moz-animation: construction_bg 10s linear infinite;
	-o-animation: construction_bg 10s linear infinite;
	animation: construction_bg 10s linear infinite;
}

@keyframes construction_bg {
	0%, 100% {
		background-position: 30% bottom;
	}
	50% {
		background-position: 80% bottom;
	}
}


#page-construction .content {	
	display: block;
		background: url(../image/bg_construction_text.png) no-repeat 50% top;
	background-size: 60% auto;
	margin-top: 40px;
}

#page-construction p {
	letter-spacing: 2px;
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
	text-align: center;
	word-break: break-all;
	line-height: 28px;
}

#page-construction h5 {
	margin: 20px auto;
	border-bottom: 1px solid #000;
	display: inline-block;
	padding-bottom: 5px;
}
#page-construction .bg {
	max-width: 600px;
	position: absolute;
	z-index: -1;
	left: 50%;
	margin-top: 30px;
	margin-left: -300px;
}

/*project*/

#project .main,
#projectpage .main {
	background-image: url(../image/bg_about_1.png),url(../image/bg_about_2.png),url(../image/bg_about_3.png),url(../image/bg_project.jpg);
	background-repeat: no-repeat;
	background-size: 120% auto;
	-webkit-animation: project_bg 10s linear infinite;
	-moz-animation: project_bg 10s linear infinite;
	-o-animation: project_bg 10s linear infinite;
	animation: project_bg 10s linear infinite;
}

@keyframes project_bg {
	0%, 100% {
		background-position: 40% bottom, 60% bottom, 10% bottom, 0% top;
	}
	50% {
		background-position: 90% bottom, 20% bottom ,40% bottom, 100% top;
	}
}


#page-project,
#page-projectpage {
	padding-bottom: 60px;
}


#page-project .content,
#page-projectpage .content {
	margin: 60px auto;
	max-width: 800px;
}

#page-projectpage .content .text {
	font-size: 14px;
	line-height: 20px;
	vertical-align: bottom;
	border-left: 2px solid #8B7151;
	padding-left: 10px;
	margin-top: 20px;
}

/*contact*/

#contact .main {
	background-image: url(../image/bg_contact.png);
	background-repeat: no-repeat;
	background-size: 120% auto;
	-webkit-animation: contact_bg 10s linear infinite;
	-moz-animation: contact_bg 10s linear infinite;
	-o-animation: contact_bg 10s linear infinite;
	animation: contact_bg 10s linear infinite;
}

@keyframes contact_bg {
	0%, 100% {
		background-position: 30% bottom;
	}
	50% {
		background-position: 80% bottom;
	}
}

#page-contact {
	min-height: 280px;
	padding-bottom: 60px;
}

#page-contact p {
	margin: 0 auto;
	margin-top: 40px;
	width: 100%;
	max-width: 600px;
	line-height: 30px;
	text-align: center;
	word-break: break-all;
}

#page-contact .content {  
	display: block;
	min-height: 300px;
}

#page-contact .content form {
	max-width: 800px;
	margin: 40px auto;
	color: #8B7151;
}

#page-contact .content .form-control {
	border: 1px solid #8B7151;
	border-radius: 0;
	color: #8B7151;
	background-color: rgba(255,255,255,.5);
}

#page-contact .content form .contact-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 25px 0 0 5px;
	float: right;
}

#page-contact .content form label {
	margin-bottom: 10px;
}

#page-contact .content form button {
	width: 100%;
	background: #8B7151;
	border-radius: 0;
	border: none;
	color: #FFF;
	letter-spacing: 5px;
	margin-top: 20px;
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

#contact .content form button:hover {
	opacity: .8;
	transition: all 0.4s ease-in-out;
}

#contact #section-footer .content {
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
}

#contact #section-footer .text-title {
	margin: 0;
	text-align: left;
}

#contact #section-footer hr {
	margin: 10px 0;
}

#contact #section-footer p {
	margin-top: 30px;
	line-height: 32px;
}
#contact #section-footer .content a {
	display: block;
	color: #FFFDE6;
	margin-bottom: 30px;
}
/*footer*/
#section-footer {
	box-sizing: border-box;
	padding: 30px 0;
	display: block;
	width: 100%;
	min-height: 260px;
	background: url(../image/bg_footer.jpg) no-repeat 50% 50%;
	background-size: cover;
	color: #FFFDE6;
	text-align: center;
	letter-spacing: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}

#index #section-footer {
	position: relative;
}


#section-footer .footer-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

#section-footer .text-title {
	text-align: right;
	margin-right: 10%;
	margin-top: -25px;
}

#section-footer .tel {
	color: #FFFDE6;
}

#section-footer .btn-connection {
	display: block;
	width: 120px;
	margin: 15px auto;
}

.btn_scroll {
	position: relative;
	display: block;
	width: 5vh;
	height: 160px;
	background: url(../image/btn_scroll.svg) no-repeat 50% 50%;
	background-size: 100% auto;
	left: 50%;
	margin-left: -18px;
	animation: godownAnimation 1s infinite;
	-webkit-animation: godownAnimation 1s infinite;
	-moz-animation: godownAnimation 1s infinite;
}

@keyframes godownAnimation {
	0% {
		bottom:55px
	}
	50% {
		bottom:45px
	} 
	to {
		bottom:55px
	}
}
@-webkit-keyframes godownAnimation {
	0% {
		bottom:55px
	}
	50% {
		bottom:45px
	} 
	to {
		bottom:55px
	}
}

.news-popup .modal-content {
	background-color: rgba(139,113,81,.8);
	border-radius: 0;
	color: #FFF;
	padding: 15px 30px;
}

.news-popup .modal-dialog {
	width: 100%;
	max-width: 760px;
}

.news-popup .carousel-inner {
	width: 80%;
	margin: 0 auto;
}

.news-popup .carousel-control {
	width: 5%;
}

.news-popup .glyphicon-chevron-right:before {
	width: 26px;
	height: 40px;
	display: block;
	content: "";
	background: url(../image/btn_next_w.png) no-repeat 50% 50%;
	background-size: 26px auto;
}

.news-popup .glyphicon-chevron-left:before {
	width: 26px;
	height: 40px;
	display: block;
	content: "";
	background: url(../image/btn_prev_w.png) no-repeat 50% 50%;
	background-size: 26px auto;
}



.works-popup .modal-content {
	background: url(../image/bg_popup.png) no-repeat 50% 50%,rgba(139,113,81,1);
	background-size: 100% auto;;
	border-radius: 0;
	color: #FFF;
	padding: 15px 30px;
}

.works-popup .modal-dialog {
	width: 100%;
	max-width: 860px;
}

.works-popup .modal-body .col-sm-4 {
	bottom: 18px;
	position: absolute;
	right: 0;
}

.works-popup .modal-body .text {
	font-size: 14px;
	line-height: 16px;
	vertical-align: bottom;
	border-left: 2px solid #FFF;
	padding-left: 10px;
	margin-top: 20px;
}

.works-popup .modal-body .text p {
	margin-bottom: 3px;
}

.modal-header {
	border-bottom: none;
	padding: 15px 0;
}

.modal-title {
	font-weight: lighter;
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFF;
	letter-spacing: 5px;
}

.modal-body {
	padding: 15px 0;
	font-weight: lighter;
	letter-spacing: 2px;
}

.modal-header .close {
	width: 20px;
	height: 20px;
	background: url(../image/btn_popup_close.png) no-repeat;
	background-size: 20px auto;
	margin-top: -2px;
	opacity: 1;
	text-shadow: none;
	filter: alpha(opacity=100);
	margin-top: 5px;
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (max-width: 1024px) {

	body p,
	.news-title {
		font-size: 14px;
	}

	#section-works .carousel-control {
		width: 0;
	}

}


@media (max-width: 768px) {

	.btn_scroll {
		width: 30px;
		height: 50px;
		background-size: 30px auto;
		margin-left: -15px;
	}

	#section-about .bg {
		position: absolute;
		background: url(../image/bg_index_about.png) no-repeat 50% 0;
		width: 100%;
		background-size: 80% auto;
		z-index: -999;
		height: 400px;
		margin: -90px auto;
		left: 50%;
		margin-left: -50%;
	}

	.works-popup .modal-body .col-sm-4 {
		margin-top: 10px;
		position: relative;
	}


}

@media (max-width: 640px) {
	#section-news ul li .date {
		font-size: 12px;
	}
	
	#section-news ul li .news-title {
		font-size: 12px;
		padding: 0 10px;
		width: 50%;
	}
	
	.copyright {
		font-size: 12px;
	}
}

@media (max-width: 560px) {
}

@media (max-width: 430px) {
}

@media (max-width: 375px) {
	
}

@media (max-width: 320px) {
}


.m-top-1 { margin-top: 12px !important;}
.m-top-2 { margin-top: 24px !important;}
.m-top-3 { margin-top: 36px !important;}
.m-top-4 { margin-top: 48px !important;}
.m-top-5 { margin-top: 60px !important;}
.m-top-6 { margin-top: 72px !important;}
.m-top-7 { margin-top: 84px !important;}
.m-top-8 { margin-top: 96px !important;}

.m-left-1 { margin-left: 12px !important;}
.m-left-2 { margin-left: 24px !important;}
.m-left-3 { margin-left: 36px !important;}
.m-left-4 { margin-left: 48px !important;}
.m-left-5 { margin-left: 60px !important;}
.m-left-6 { margin-left: 72px !important;}
.m-left-7 { margin-left: 84px !important;}
.m-left-8 { margin-left: 96px !important;}



